
.Box
{
    width: 600px;
    height: 150px;
    background: palegreen;
    font-size: 1.5rem;
    border: 2px solid black;
    border-radius: 1em;
    display: inline-block;
    margin: 10px 10px 10px 10px;
    text-align: center;
}
h1{
    margin-left: 480px;
}
button
{
    width: 8em;
    height: 3em;
    border: 0.1em solid black;
    background: aqua;
    font-size: 1em;
    border-radius: 1em;
    margin-left: 30px;
    margin-left: 600px;

}

label
{
    font-weight: 600;
    margin-left: 550px;
}

input{
    width: 15rem;
    height: 1.8rem;
    background: skyblue;
    border: 0.16em solid black ;
    font-size: 1em;
    border-radius: 1em;
    margin-left: 10px;
    margin-bottom: 20px;
    align-items: center;
    align-content: center;
}
.input1
{
    margin-left:-40px;
    margin-left: 510px;
}